@font-face {
    font-family: 'berlin';
    src: url(../fonts/Berlin\ Sans\ FB\ Demi\ Bold.ttf);
}
@font-face {
    font-family: 'lemon';
    src: url(../fonts/LEMONMILK-Medium.otf);
}
body{
    background-color: #0C0B0B;
    margin: 0;
    color: white;
}
.navv{
    border-bottom:1px solid white;
    transition: opacity 1s ease-in-out;
    animation: slide-up 0.5s ease-in-out forwards;
}
.navv.active{
    border-bottom: none;
    transform: translateY(100%);
}
.navbar{
    display: flex;
    height: 90px;
    justify-content: space-between;
    margin-left: 12em;
    margin-right: 12em;
}
.rightnav{
    display: flex;
    align-self: center;
    gap: 1.5em;
    align-items: center;
    cursor: pointer;
}
.logod{
    width: 113.69px;
    display: flex;
    align-self: center;
}
.logo{
    width: 40%;
    align-self: center;
}
.star{
    position: relative;
    height: 174px;
    width: 80px;
    justify-self: center !important;
    animation: slide-up 0.5s ease-in-out forwards;
}
.star.active{
    display: none;
    transform: translateY(100%); 
}
.socials{
    display: flex;
    flex-direction: row !important;
    /* justify-content: center;
    align-items: center; */
    gap: 4em;
    font-family: 'roboto';
    /* color: #C5C5C5; */
    margin-top: 1em;
}
.social{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1em;
}
@keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(100%); /* Start offscreen */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Move to original position */
    }
  }
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    animation: slide-up 0.3s ease-in-out forwards; 

}
.menu.active{
    /* transform: rotate(360deg); */
    animation: slide-down 0.3s ease-in-out forwards; 
    transition: transform 0.3s ease;


}
.button-28{
   display: flex !important;
   align-items: center;
   justify-content: center;
   gap: 0.5em;
   /* width: 113px; */
}
.burger{
    fill: black;
    animation: slide-up 0.3s ease-in-out forwards; 
}
.menu-icon.active .burger {
    display: none;
    transition: transform 0.3s ease;
}

.menu-icon.active .x {
    display: inline;
    animation: slide-down 0.3s ease-in-out forwards; 

}
.menu-icon .x{
    display: none;
    transition: transform 0.3s ease;

}


.categories{
    display: none;
    opacity: 0; 
    transform: translateY(-100%);
}

.categories.active{
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
    margin-right: 5em;
    margin-left: 5em;
    cursor:pointer;
    animation: slide-down 1s ease-in-out forwards; 
}
.designs2{
    display: flex;
}
@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.cat-images{
    width: 230px;
    height: 550px;
    overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.cat-images:hover{
    transform: translateY(-30px);
}



.big-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
    animation: slide-up 1s ease-in-out forwards; 

}
.big-logo.active{
    display: none;
    transform: translateX(-100%);

}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box{
    background: url(../images/cissy.jpg);
    -webkit-backgroud-size:cover;
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 400px;
    box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
    animation: animate 5s ease-in-out infinite;
}

.clari:hover{
    cursor: pointer;

}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em;
    font-family: 'berlin';
    text-align: center;
    margin-left: 19.1em ;
    margin-right: 19.1em ;
    font-size: 22.5px;
    letter-spacing: 0.03em;
    margin-top: 5em !important;
}



@keyframes animate {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.details{
    display: flex;
    /* background-color: blue; */
    justify-content: center;
    align-items: center;
    gap: 10em;
    margin-top: 8em;
    height: 70vh;
}
.detail{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 0.5em;
    text-align: left;
    min-width: 400px;
}
.nomargin{
    margin: 0;
    padding: 0;
}
.little-star1{
    align-self: first baseline;
}
.little-star2{
    align-self: last baseline;
}
.skills{
    margin-bottom: 1em;
    font-size: 40px;
}
.list{
    display: flex;
    flex-direction: column;
}
.ae{
    display: flex;
    align-items: center;
    font-size: 38px;   
    gap: 0.5em;
}
.skill{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.big-logo{
    display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        margin-top: 8em;
    animation: slide-up 1s ease-in-out forwards; 

}
.big-logo.active{
    display: none;
    transform: translateX(-100%);

}
.photography{
    font-family: 'lemon';
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
}
.ph{
    font-size: 50px;
    letter-spacing: 0.1em;
    margin: 0;

}
.pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5em;
    margin-left:5em;
    margin-right: 5em;
    gap: 5em;
}
.pictures2{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    margin-left:5em;
    margin-right: 5em;
    gap: 5em;
}
.pics{
    width: 500px;
    height: 300px;
    border: 4px solid #C5C5C5;
    animation: slide-up 2s ease-in-out forwards;
}
.pics2{
    width: 300px;
    height: 450px;
    border: 4px solid #C5C5C5;
    animation: slide-up 2s ease-in-out forwards;
}
.top{
    margin-top: 4em;
}
.design{
    font-family: 'lemon';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.face{
    margin-top: 1em;
}
.designs{
    margin-top: 5em;
    display: flex;
    justify-content: center;
    gap: 11em;
}
.des{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.desc{
    font-family: 'berlin';
    font-size: 28px;
    /* text-align: center; */
}
@media screen and (max-width: 900px) {
    .navbar{
        margin-left: 6em;
        margin-right: 6em;
    }
}
@media screen and (max-width: 650px) {
    .navbar{
        margin-left: 4em;
        margin-right: 4em;
    }
}
@media screen and (max-width: 450px) {
    .navbar{
        margin-left: 3em;
        margin-right: 3em;
    }
    .menu{
        display: none;
    }
    .logod{
        width: 66px;
    }
    .button-28{
        width: 66px;
    }
    .clari{
        width: 350px;
        margin-top: 8em;
    }
    .star2{
        display: none;
    }
    .cat-images{
        width: 100px;
        height: 250px;
    }
    .categories.active{
        margin: 0;
        margin-top: 8em;
    }
}
